<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vuetify -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- css -->
    <link rel="stylesheet" href="main.css">
    <title>chatGo</title>
</head>
<body>
    <div id="app">
        <v-container>
            <v-row justify-content="center">
                <v-col cols="6">
                    <div id="chateo" class="mt-5">
                        <v-card>
                            <v-card-title>
                                <ul>
                                    <li v-for="(m, i) in mensajes" :key="i">{{ m.text }} - {{ m.date }}</li>
                                </ul>
                            </v-card-title>
                            <v-card-text>
                                <v-form>
                                    <v-text-field
                                    v-model="mensaje"
                                    label="chatea"
                                    type="text"
                                    hint="chat"
                                    color="#456855"
                                    filled
                                    clearable
                                    />
                                </v-form>
                                <v-btn block color="#458855" @click="enviarMensaje">chat</v-btn>
                            </v-card-text>
                        </v-card>
                    </div>
                </v-col>
            </v-row>
        </v-container>
      </div>

    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- sockeio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <!-- vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- <script>
        new Vue({
          el: '#app',
          vuetify: new Vuetify(),
        })
    </script> -->
    <!-- main-js -->
    <script src="main.js"></script>
</body>
</html>